
/* @font-face {
  font-family: 'Sukhumvit';
  src: url('./fonts/SukhumvitSet-Text.ttf') format('truetype');
  font-weight: normal;
} */

/* @font-face {
  font-family: 'Sukhumvit';
  src: url('./fonts/SukhumvitSet-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('./fonts/SukhumvitSet-Light.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url("./fonts/SukhumvitSet-SemiBold.ttf") format('truetype');
  font-weight: 600;
} */

@font-face {
  font-family: 'Sukhumvit';
  src: url('./fonts/SukhumvitSet-Medium.ttf') format('truetype');
  font-weight: 300;
}

* {
  font-family: 'Sukhumvit', sans-serif !important;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: 'Prompt', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: inherit;
}
button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
