
body {
    padding: 0;
    margin: 0;
}


.container {
    width: 100%;
    height: 100vh;
    background: rgb(57, 49, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > h1 {
    color: rgb(255, 234, 195)
}

.logoImage {
    position: absolute;
    height: 45px !important;
    width: 30px !important;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.footer {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 50px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    bottom: 40px;
    align-items: center;
    background-attachment: scroll;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.footer_contents {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 24px;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;

}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 100%;
    width: 95%;
    z-index: 999999999;
    border-radius: 10px;
    border-color: #af001b;
    background-color: white;
}

.img-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.carouselx {
    width: 430px;
    height: 350px;
    /* background: rgba(201, 165, 118, 0.37); */
    background: transparent;
    direction: ltr;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.carouselx.active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.cWrapper {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: center;
}

.item {
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p {
    position: relative;
    top: -5px;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    user-select: none;
}

.item:first-child {
    margin-right: 0px !important;
}

.item:last-child {
    margin-left: 0px !important;
}